@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
}
.container {
	margin: 0 auto;
	max-width: 60em;
	padding: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
	justify-content: space-around;
}

.main-panel, .side-panel {
	margin: 5px;
	border: 1px solid #ccc;
	padding: 5px;
}

.main-panel {
	flex-basis: 75%;
	flex-grow: 3;
}

.side-panel {
	flex-basis: 25%;
	flex-grow: 1;
}

.card {
	border: 1px solid #900;
	margin: 5px;
	height: 150px;
}

.card .card-heading {
	background-color: #900;
	margin: 2px;
	padding: 2px 10px;
}

.card .card-heading h2 {
	padding: 0;
	margin: 0;
	font-size: 12pt;
	color: white;
}

.card .card-body {
	margin: 5px;
	padding: 5px;
}

.navbar, .content {
	padding: 5px;
	margin: 5px;
}

.navbar ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
}

.navbar ul .navitem {
	margin: 5px;
	padding: 5px;
}

.navbar .navitem a {
	color: #900;
	text-decoration: none;
}

.article {
	padding: 5px;
	margin: 5px;
}

.article-title h2 {
	padding: 0;
	margin: 2px 0;
}

.article-detail {
	padding-bottom: 15px;
}

.author, .create-date, .extra {
	font-style: italic;
	margin-right: 10px;
	font-size: 10pt;
	color: #900;
}

.article-content {
	line-height: 1.5em;
}

.thumbnail-image {
	width: 200px;
	height: 200px;
}

.thumbnail {
	float: left;
	padding: 0px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}


